@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
header {
  max-width: 1175px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-logo__name {
  font-size: 20px;
  line-height: 44px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: -0.005em;
  color: #161920;
  margin: 0 10px 0 10px;
}

.header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.01em;
  padding: 15px 0;
  color: #9ba4b0;
  width: 455px;
  border: 1px solid #e1e9f2;
  border-left: none;
  border-right: none;
}
.header-info__support {
  padding: 0 18px;
}
.header-info__support span {
  color: #484e57;
}
.header-info__register {
  padding: 0 18px;
  border: 1px solid #e1e9f2;
  border-top: none;
  border-bottom: none;
}
.header-info__login {
  padding: 0 5px 0 18px;
}

body {
  max-width: 1975px;
  font-family: "Open Sans", sans-serif;
}