@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

ol {
  list-style: none;
}

ul {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
header {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-logo__name {
  font-size: 20px;
  line-height: 31px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: -0.005em;
  color: #161920;
  margin: 0 10px 0 10px;
}

.header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.01em;
  padding: 15px 0;
  color: #9ba4b0;
  width: 455px;
  border: 1px solid #e1e9f2;
  border-left: none;
  border-right: none;
}
.header-info__support {
  padding: 0 18px;
}
.header-info__support span {
  color: #484e57;
}
.header-info__register {
  padding: 0 18px;
  border: 1px solid #e1e9f2;
  border-top: none;
  border-bottom: none;
}
.header-info__login {
  padding: 0 5px 0 18px;
}

footer {
  background-color: #4c515b;
  height: 385px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media (max-width: 991px) {
  footer {
    height: 250px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding-top: 20px;
  }
}

.footer__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #909aad;
  padding: 0 20px;
}
@media (max-width: 991px) {
  .footer__wraper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    line-height: 22px;
  }
}
.footer__copyright {
  width: 216px;
  padding-top: 62px;
  text-align: left;
}
@media (max-width: 991px) {
  .footer__copyright {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -108px;
    text-align: center;
  }
}
.footer__quick-links {
  width: 216px;
}
.footer__contanct-us {
  width: 216px;
}
.footer__contanct-us span {
  color: #e7f4f8;
}

.copyright__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 991px) {
  .copyright__logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.copyright__logo img {
  width: 49px;
  height: 31px;
}
.copyright__name {
  font-size: 20px;
  line-height: 31px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: -0.005em;
  color: #e7f4f8;
  padding: 0 7px;
}

.quick-links__list {
  list-style: none;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 991px) {
  .quick-links__list {
    height: 120px;
  }
}
.quick-links li {
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
          break-inside: avoid;
}

.social-media__list img {
  margin-right: 23px;
}

body {
  max-width: 1970px;
  font-family: "Open Sans", sans-serif;
}

.footer-title, .quick-links__title, .contanct-us__title, .social-media__title {
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #ffffff;
  padding-bottom: 20px;
}
@media (max-width: 991px) {
  .footer-title, .quick-links__title, .contanct-us__title, .social-media__title {
    padding-bottom: 10px;
  }
}

.tabs__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.tabs__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  white-space: nowrap;
  max-width: 1170px;
}
.tabs__caption {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding: 25px;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #ffffff;
  background: #ff8261;
}
.tabs__body {
  width: 100%;
}
.tabs__content {
  display: none;
  color: rgb(14, 13, 13);
  background: #52cbf8;
}

.tabs__caption_active {
  background: #52cbf8;
}

.tabs__content_active {
  display: block;
}

.slideshow__container {
  background-color: #222836;
  max-height: 570px;
  position: relative;
  margin: 0 auto;
}
.slideshow__mySlides {
  display: none;
  text-align: center;
}
.slideshow__mySlides h1 {
  color: #ffffff;
  padding: 8px 12px;
  position: absolute;
  bottom: 163px;
  width: 100%;
  text-align: center;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}
.slideshow__mySlides p {
  color: #ffffff;
  padding: 8px 12px;
  position: absolute;
  bottom: 138px;
  width: 100%;
  text-align: center;
  line-height: 1.2;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.095em;
}
.slideshow__img {
  max-height: 500px;
  width: 50%;
}
.slideshow__prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.slideshow__prev:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.slideshow__next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  right: 0;
  border-radius: 3px 0 0 3px;
}
.slideshow__next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.slideshow__dot-container {
  text-align: center;
}
.slideshow__dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 1px;
  border-radius: 50%;
  border: 2px solid #ff8261;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* Для маленьких экранов увеличьте размер текста */
@media only screen and (max-width: 300px) {
  .slideshow__prev, .slideshow__next, .slideshow__text {
    font-size: 11px;
  }
}
.active, .slideshow__dot:hover {
  border: 2px solid #5278db;
}