@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

ol {
  list-style: none;
}

ul {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.header {
  background: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
}
.header__wraper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) or (max-height: 767px) {
  .header__wraper {
    height: 72px;
  }
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__logo-menu {
  display: none;
}
@media (max-width: 480px) or (max-height: 480px) {
  .header__logo-menu {
    display: block;
    position: relative;
    width: 38px;
    height: 25px;
    cursor: pointer;
  }
  .header__logo-menu span {
    position: absolute;
    top: 50%;
    left: 0;
    height: 12%;
    width: 100%;
    background: rgb(0, 0, 0);
    z-index: 100;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
}
.header__logo-menu::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  height: 12%;
  width: 100%;
  background: rgb(0, 0, 0);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.header__logo-menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  height: 12%;
  width: 100%;
  background: rgb(0, 0, 0);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.header__logo-img {
  padding-left: 20px;
}
.header__logo-name {
  font-size: 20px;
  line-height: 31px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: -0.005em;
  color: #161920;
  margin: 0 10px 0 10px;
}
@media (max-width: 480px) {
  .header__logo-name {
    font-size: 18px;
  }
}
.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.01em;
  padding: 15px 0;
  color: #9ba4b0;
  width: 455px;
  border: 1px solid #e1e9f2;
  border-left: none;
  border-right: none;
}
@media (max-width: 767px) {
  .header__info {
    font-size: 12px;
    padding: 10px 0;
    display: block;
    text-align: end;
    border: none;
  }
}
.header__info-support {
  padding: 0 18px;
}
.header__info-support span {
  color: #484e57;
}
@media (max-width: 767px) {
  .header__info-support {
    padding: 0px 0px;
    font-size: 10px;
  }
}
.header__info-register {
  padding: 0 18px;
  border: 1px solid #e1e9f2;
  border-top: none;
  border-bottom: none;
}
@media (max-width: 767px) {
  .header__info-register {
    margin-top: 15px;
    padding: 0 5px;
    display: inline-block;
    border-left: none;
  }
}
.header__info-login {
  padding: 0 18px;
}
@media (max-width: 767px) {
  .header__info-login {
    margin-top: 15px;
    padding: 0 5px;
    display: inline-block;
  }
}

.header__logo-menu-active span {
  -webkit-transform: scale(0) translate(0px, -50%);
          transform: scale(0) translate(0px, -50%);
}

.header__logo-menu-active::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0px, -50%);
          transform: rotate(-45deg) translate(0px, -50%);
}

.header__logo-menu-active::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0px, 50%);
          transform: rotate(45deg) translate(0px, 50%);
}

.slideshow__container {
  background-color: #222836;
  height: 575px;
}
.slideshow__container div {
  max-width: 1170px;
  position: relative;
  margin: 0 auto;
}
.slideshow__mySlides {
  display: none;
  text-align: center;
  width: 70%;
  height: 500px;
  overflow: hidden;
  position: relative;
  padding-top: 20px;
}
.slideshow__mySlides h1 {
  color: #ffffff;
  padding: 8px 12px;
  position: absolute;
  bottom: 75px;
  width: 100%;
  text-align: center;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}
@media (max-width: 767px) {
  .slideshow__mySlides h1 {
    font-size: 36px;
  }
}
@media (max-width: 480px) {
  .slideshow__mySlides h1 {
    font-size: 28px;
  }
}
.slideshow__mySlides p {
  color: #ffffff;
  padding: 8px 12px;
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
  line-height: 1.2;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.095em;
}
@media (max-width: 767px) {
  .slideshow__mySlides p {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .slideshow__mySlides p {
    font-size: 14px;
  }
}
.slideshow__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slideshow__prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -29px;
  width: auto;
  padding: 17px 21px;
  color: white;
  font-size: 20px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 59px;
  height: 59px;
  background-color: rgba(229, 233, 244, 0);
  border: 2px solid rgba(255, 255, 255, 0.49);
  border-radius: 50%;
}
@media (max-width: 767px) {
  .slideshow__prev {
    width: 50px;
    height: 50px;
    font-size: 18px;
    padding: 15px 17px;
  }
}
@media (max-width: 480px) {
  .slideshow__prev {
    width: 40px;
    height: 40px;
    font-size: 14px;
    padding: 11px 13px;
    left: 7px;
  }
}
.slideshow__prev:active {
  background-color: #556b72;
}
.slideshow__next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 15px;
  width: auto;
  padding: 17px 21px;
  margin-top: -29px;
  color: white;
  font-size: 20px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 59px;
  height: 59px;
  background-color: rgba(229, 233, 244, 0);
  border: 2px solid rgba(255, 255, 255, 0.49);
  border-radius: 50%;
}
@media (max-width: 767px) {
  .slideshow__next {
    width: 50px;
    height: 50px;
    font-size: 18px;
    padding: 15px 17px;
  }
}
@media (max-width: 480px) {
  .slideshow__next {
    width: 40px;
    height: 40px;
    font-size: 14px;
    padding: 11px 15px;
    right: 7px;
  }
}
.slideshow__next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.slideshow__dot-container {
  text-align: center;
  padding-top: 10px;
}
.slideshow__dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 1px;
  border-radius: 50%;
  border: 2px solid #ff8261;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active, .slideshow__dot:hover {
  border: 2px solid #5278db;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.domain__container {
  background-color: #e7f4f8;
}
.domain__fieldset {
  max-width: 1170px;
  height: 200px;
  margin: 0 auto;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 991px) {
  .domain__fieldset {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
  }
}
.domain__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 15%;
          flex: 0 1 15%;
  margin-top: -30px;
  text-align: center;
}
@media (max-width: 991px) {
  .domain__logo {
    padding: 40px 40px 0 40px;
  }
}
.domain__logo::before {
  content: "";
  background: url("/img/home/magnifier.png") no-repeat 0 4px;
  width: 100%;
  height: 30px;
  display: inline-block;
}
.domain__text {
  text-align: left;
}
.domain__name {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  margin: 0 10px;
  height: 55px;
  background-color: #ffffff;
  border: 1px solid #dfeef3;
  padding-left: 25px;
}
.domain__name input {
  width: 90%;
}
@media (max-width: 991px) {
  .domain__name {
    margin: 10px 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
  }
}
@media (max-width: 768px) {
  .domain__name {
    height: 40px;
  }
}
.domain__year {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 15%;
          flex: 0 1 15%;
  margin: 0 10px 0 10px;
  height: 55px;
  background-color: #ffffff;
  border: 1px solid #dfeef3;
  padding-left: 25px;
}
.domain__year input {
  width: 100%;
}
@media (max-width: 991px) {
  .domain__year {
    margin: 0 0.5% 0 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 39.5%;
            flex: 0 1 39.5%;
  }
}
@media (max-width: 768px) {
  .domain__year {
    height: 40px;
  }
}
.domain__mail {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 15%;
          flex: 0 1 15%;
  margin: 0 10px 0 10px;
  height: 55px;
  background-color: #ffffff;
  border: 1px solid #dfeef3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 25px;
}
@media (max-width: 991px) {
  .domain__mail {
    margin: 0 0 0 0.5%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 39.5%;
            flex: 0 1 39.5%;
  }
}
@media (max-width: 768px) {
  .domain__mail {
    height: 40px;
  }
}
.domain__search {
  font-size: 13.5px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 15%;
          flex: 0 1 15%;
  margin: 0 10px 0 10px;
  height: 55px;
  background-color: #ff8261;
  cursor: pointer;
}
@media (max-width: 991px) {
  .domain__search {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 35%;
            flex: 0 1 35%;
    margin: 10px 0 20px 0;
  }
}
@media (max-width: 768px) {
  .domain__search {
    height: 40px;
  }
}
.domain__search:hover {
  background: #52cbf8;
}

.domain__name-placeholder::-webkit-input-placeholder, .domain__year-placeholder::-webkit-input-placeholder {
  font-size: 13.5px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #a0a9b6;
  display: -webkit-box;
  display: flex;
}

.domain__name-placeholder::-moz-placeholder, .domain__year-placeholder::-moz-placeholder {
  font-size: 13.5px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #a0a9b6;
  display: flex;
}

.domain__name-placeholder:-ms-input-placeholder, .domain__year-placeholder:-ms-input-placeholder {
  font-size: 13.5px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #a0a9b6;
  display: -ms-flexbox;
  display: flex;
}

.domain__name-placeholder::-ms-input-placeholder, .domain__year-placeholder::-ms-input-placeholder {
  font-size: 13.5px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #a0a9b6;
  display: -ms-flexbox;
  display: flex;
}

.domain__name-placeholder::placeholder, .fieldset, .domain__year-placeholder::placeholder {
  font-size: 13.5px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #a0a9b6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-title, .social-media__title, .contanct-us__title, .quick-links__title {
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #ffffff;
  padding-bottom: 20px;
}
@media (max-width: 991px) {
  .footer-title, .social-media__title, .contanct-us__title, .quick-links__title {
    padding-bottom: 10px;
  }
}

.footer-item, .contanct-us__content, .quick-links__caption {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #909aad !important;
}
@media (max-width: 480px) {
  .footer-item, .contanct-us__content, .quick-links__caption {
    font-size: 13px;
  }
}

footer {
  background-color: #4c515b;
}
@media (min-width: 768px) and (max-width: 991px) {
  footer {
    min-height: 330px;
    position: relative;
  }
}

.footer__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1170px;
  margin: 0 auto;
  padding: 50px 20px 0px 20px;
}
@media (max-width: 991px) {
  .footer__wraper {
    padding: 25px 50px 0px 50px;
  }
}
@media (max-width: 480px) {
  .footer__wraper {
    font-size: 13px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 25px 30px 0px 30px;
  }
}
.footer__copyright {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 62px 0 20px 0;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #909aad;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer__copyright {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    margin-left: -90px;
    padding: 12px 0 12px 0;
  }
}
@media (max-width: 767px) {
  .footer__copyright {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    padding: 0 0 0 0;
    text-align: left;
  }
}
@media (max-width: 480px) {
  .footer__copyright {
    font-size: 13px;
    width: 100px;
  }
}
.footer__quick-links {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding-bottom: 20px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer__quick-links {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
    padding-left: 30px;
  }
}
@media (max-width: 767px) {
  .footer__quick-links {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.footer__contanct-us {
  padding-bottom: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  margin: 0 auto;
  padding-bottom: 20px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer__contanct-us {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 36%;
            flex: 0 1 36%;
    padding-left: 30px;
  }
}
@media (max-width: 767px) {
  .footer__contanct-us {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.footer__contanct-us span {
  color: #e7f4f8;
}
.footer__social-media {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding-bottom: 20px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer__social-media {
    padding-left: 30px;
  }
}
@media (max-width: 767px) {
  .footer__social-media {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.copyright__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 22px;
}
@media (max-width: 768px) {
  .copyright__logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 0px;
  }
}
.copyright__logo img {
  width: 49px;
  height: 31px;
}
.copyright__name {
  font-size: 20px;
  line-height: 31px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: -0.005em;
  color: #e7f4f8;
  padding: 0 7px;
  margin-right: 23px;
}
@media (max-width: 480px) {
  .copyright__name {
    font-size: 18px;
  }
}

.quick-links__title {
  text-decoration: none;
}
.quick-links__title span {
  display: none;
}
@media (max-width: 480px) {
  .quick-links__title span {
    display: inline-block;
    -webkit-transform: rotate(-180deg) translate(-15px, 2px);
            transform: rotate(-180deg) translate(-15px, 2px);
  }
}
.quick-links__content {
  list-style: none;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-decoration: none;
}
@media (max-width: 480px) {
  .quick-links__content {
    height: auto;
    display: none;
  }
}
.quick-links__caption {
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
          break-inside: avoid;
}

.contanct-us__title span {
  display: none;
}
@media (max-width: 480px) {
  .contanct-us__title span {
    display: inline-block;
    -webkit-transform: rotate(-180deg) translate(-15px, 2px);
            transform: rotate(-180deg) translate(-15px, 2px);
  }
}
@media (max-width: 480px) {
  .contanct-us__content {
    display: none;
  }
}
@media (max-width: 480px) {
  .contanct-us__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 8px;
  }
}

.social-media__list img {
  margin: 0 8px 0 0px;
}
@media (max-width: 480px) {
  .social-media__list img {
    margin: 0 4px 0 4px;
  }
}

.contanct-us__content-active {
  display: block;
}

.quick-links__content-active {
  display: block;
}

.quick-links__title-active span {
  -webkit-transform: rotate(0deg) translate(15px, 0px);
          transform: rotate(0deg) translate(15px, 0px);
}

.contanct-us__title-active span {
  -webkit-transform: rotate(0deg) translate(15px, 0px);
          transform: rotate(0deg) translate(15px, 0px);
}

body {
  max-width: 1970px;
  font-family: "Open Sans", sans-serif;
}

body._lock {
  overflow: hidden;
}

.font1, .domain__text {
  font-size: 18px;
  line-height: 31px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #859aa1;
}

.font2, .domain__text span {
  font-size: 30px;
  font-weight: 800;
  letter-spacing: -0.025em;
  color: #556b72;
}

.tabs__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  max-width: 1170px;
  margin: 0 auto;
  background: #ff8261;
  position: sticky;
  top: 100px;
  left: 0;
  z-index: 5;
}
@media (max-width: 767px) or (max-height: 767px) {
  .tabs__head {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    top: 72px;
  }
}
@media (max-width: 480px) or (max-height: 480px) {
  .tabs__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    position: fixed;
    left: -100%;
    width: 100%;
    height: 595px;
    opacity: 0.9;
    -webkit-transition: left 0.8s ease 0s;
    transition: left 0.8s ease 0s;
  }
}
@media (max-height: 480px) {
  .tabs__head {
    height: 288px;
  }
}
.tabs__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 10%;
          flex: 0 1 10%;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  height: 57px;
  color: #ffffff;
  cursor: pointer;
}
@media (max-width: 991px) {
  .tabs__caption {
    font-size: 11px;
  }
}
@media (max-width: 767px) {
  .tabs__caption {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 20%;
            flex: 0 1 20%;
    font-size: 10px;
  }
}
@media (max-width: 480px) or (max-height: 480px) {
  .tabs__caption {
    font-size: 25px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    height: 25px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.tabs__caption:hover {
  background: #52cbf8;
}
.tabs__body {
  width: 100%;
}
.tabs__content {
  display: none;
  color: rgb(14, 13, 13);
  background: #52cbf8;
}

.tabs__head-active {
  left: 0;
}

.tabs__caption_active {
  background: #52cbf8;
}

.tabs__content_active {
  display: block;
}