.slideshow {
    &__container {
        background-color: #222836;
        height: 575px;
        div {
            max-width: 1170px;
            position: relative;
            margin: 0 auto;
        }
    }
    &__mySlides {
        display: none;
        text-align: center;
        width: 70%;
        height: 500px;
        overflow: hidden;
        position: relative;
        padding-top: 20px;
        h1 {
            color: #ffffff;
            padding: 8px 12px;
            position: absolute;
            bottom: 75px;
            width: 100%;
            text-align: center;
            font-size: 40px;
            line-height: 1.2;
            font-weight: 800;
            text-transform: uppercase;
            letter-spacing: 0.025em;
            @media (max-width: 767px) {
                font-size: 36px;
            }
            @media (max-width: 480px) {
                font-size: 28px;
            }
        }
        p {
            color: #ffffff;
            padding: 8px 12px;
            position: absolute;
            bottom: 50px;
            width: 100%;
            text-align: center;
            line-height: 1.2;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 300;
            letter-spacing: 0.095em;
            @media (max-width: 767px) {
                font-size: 18px;
            }
            @media (max-width: 480px) {
                font-size: 14px;
            }
        }    
    }
    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &__prev {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 15px;
        margin-top: -29px;
        width: auto;
        padding: 17px 21px; 
        color: white;
        font-size: 20px;
        transition: 0.2s ease;
        user-select: none;
        width: 59px;
        height: 59px;
        background-color: rgba(229,233,244,0.0);
        border: 2px solid rgba(255,255,255,0.49);
        border-radius: 50%;
        @media (max-width: 767px) {
            width: 50px;
            height: 50px;
            font-size: 18px;
            padding: 15px 17px; 
        }
        @media (max-width: 480px) {
            width: 40px;
            height: 40px;
            font-size: 14px;
            padding: 11px 13px; 
            left: 7px;
        }
    }
    &__prev:active {
        background-color: #556b72;
    }
    &__next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 15px;
        width: auto;
        padding: 17px 21px ;
        margin-top: -29px;
        color: white;
        font-size: 20px;
        transition: 0.2s ease;
        user-select: none;
        width: 59px;
        height: 59px;
        background-color: rgba(229,233,244,0.0);
        border: 2px solid rgba(255,255,255,0.49);
        border-radius: 50%;
        @media (max-width: 767px) {
            width: 50px;
            height: 50px;
            font-size: 18px;
            padding: 15px 17px; 
        }
        @media (max-width: 480px) {
            width: 40px;
            height: 40px;
            font-size: 14px;
            padding: 11px 15px;
            right: 7px;
        }
    }
    &__next:hover {
        background-color: rgba(0,0,0,0.8);
    }
    &__dot-container {
        text-align: center;
        padding-top: 10px;
    }
    &__dot {
        cursor: pointer;
        height: 13px;
        width: 13px;
        margin: 0 1px;
        border-radius: 50%;
        border: 2px solid #ff8261;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
}
.active, .slideshow__dot:hover {
    border: 2px solid #5278db;
    }
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
	}
	@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
	}
	@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
	}

    ///////////////////////////////////////////////////////////////////////////////////////////////////////////////

.domain {
	&__container {
        background-color: #e7f4f8;
    }
	&__fieldset {
        max-width: 1170px;
        height: 200px;
        margin: 0 auto;
        padding: 0 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media(max-width: 991px){
            flex-wrap: wrap;
            height: auto;
        }
        @media (max-width: 768px){
        }
    }
	&__title {
        flex: 0 1 15%;
        margin-top: -30px;
        @media(max-width: 991px){
            flex: 0 1 100%;
            padding: 40px 0 20px 0;
        }
        @media (max-width: 768px){
        }
    }
    &__title::before {
        content: "";
        background: url('/img/home/magnifier.png') no-repeat 0 4px;
        width: 100%;
        height: 30px;
        display: inline-block;
    }
	&__text {
        @extend .font_title;
        text-align: left;
        span {
            @extend .font_title-span;
        }
    }
	&__name {
        flex: 0 1 40%;
        margin: 0 10px;
        height: 55px;
        background-color: #ffffff;
        border: 1px solid #dfeef3;
        padding-left: 25px;
        input { 
            width: 90%;
        }
        @media (max-width: 991px){
            margin: 10px 0;
            flex: 0 1 80%;
        }
        @media (max-width: 768px){
            height: 40px;
        }
    }
	&__year {
        flex: 0 1 15%;
        margin: 0 10px 0 10px;
        height: 55px;
        background-color: #ffffff;
        border: 1px solid #dfeef3;
        padding-left: 25px;
        input {
            width: 100%;
        }
        @media (max-width: 991px){
            margin: 0 0.5% 0 0;
            flex: 0 1 39.5%;
        }
        @media (max-width: 768px){
            height: 40px;
        }
        
    }
	&__mail {
        flex: 0 1 15%;
        margin: 0 10px 0 10px;
        height: 55px;
        background-color: #ffffff;
        border: 1px solid #dfeef3;
        display: flex;
        align-items: center;
        padding-left: 25px;
        @media (max-width: 991px){
            margin: 0 0 0 0.5%;
            flex: 0 1 39.5%;
        }
        @media (max-width: 768px){
            height: 40px;
        }
    }
	&__search {
        font-size: 13.5px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: #ffffff;
        flex: 0 1 15%;
        margin:  0 10px 0 10px;
        height: 55px;
        background-color: #ff8261;
        cursor: pointer;
        @media (max-width: 991px){
            flex: 0 1 35%;
            margin:  20px 0 20px 0;
        }
        @media (max-width: 768px){
            height: 40px;
        }
    }
    &__search:hover {
        background: #52cbf8;
    }
}

.domain__name-placeholder::placeholder,.fieldset,.domain__year-placeholder::placeholder {
    @extend .font_text;
    display: flex;
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////

.benefits {
    &__container {
        max-width: 1170px;
        margin: 0 auto;
        padding: 0 15px;
    }
    &__title {
        display: flex;
        flex-direction: column;
        padding: 70px 0 0 0;
        @extend .font_title;
        span {
            @extend .font_title-span;
        }
        @media (max-width: 991px){
            padding: 30px 0 0 0;
        }
    }
    &__title::before {
        content: "";
        width: 21px;
        height: 2px;
        background-color: #fb6b45;
        display: inline-block;

    }
    &__content {
        display: flex;
        flex-wrap: wrap;
        padding: 30px 0 0 0;
    }
    &__section {
        display: flex;
        flex: 0 1 33.333%;
        padding: 0 0 60px 0;
        @media (max-width: 991px){
            flex: 0 1 50%;
        }
        @media (max-width: 768px){
            flex: 0 1 100%;
            padding: 0 0 30px 0;
        }
    }
    &__logo {}
    &__info {
        padding: 0 30px 0 30px;
    }
    &__caption {
        font-size: 16px;
        line-height: 31px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: #556b72;
    }
    &__text {
        @extend .font_text;
    }
}
