@import "nullstyle.scss";
@import "header.scss";
@import "footer.scss";
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap);

body {
    max-width: 1970px;
    font-family: 'Open Sans', sans-serif;
} 
.footer-title {
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #ffffff;
    padding-bottom: 20px;
    @media (max-width: 991px) {
        padding-bottom: 10px;
    }
}
  .tabs {
    &__wraper {
        max-width: 1170px;
        margin: 0 auto;
    }
    &__head {
        display: flex;
        flex-wrap: wrap;
        white-space: nowrap;
    }
    &__caption {
        flex: 1;
        text-align: center;
        padding: 22px 10px;
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.08em;
        color: #ffffff;
        background: #ff8261;
    }
    &__body {}
    &__content {
        display: none;
        padding: 30px;
        color: rgb(14, 13, 13);
    }
}
.tabs__caption_active {
    background: #52cbf8;
  }
.tabs__content_active {
    display: block;
  }