@import "nullstyle.scss";
@import "header.scss";
@import "footer.scss";
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap);

body {
		max-width: 1970px;
		font-family: 'Open Sans', sans-serif;
} 
.footer-title {
		font-size: 14px;
		font-weight: 800;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		color: #ffffff;
		padding-bottom: 20px;
		@media (max-width: 991px) {
				padding-bottom: 10px;
		}
}
.tabs {
		&__wraper {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 0 auto;
		}
		&__head {
			display: flex;
			flex-wrap: wrap;
			white-space: nowrap;
            max-width: 1170px;
		}
		&__caption {
			flex: 1;
			text-align: center;
			padding:25px;
			font-size: 13px;
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 0.08em;
			color: #ffffff;
			background: #ff8261;
		}
		&__body {
            width: 100%;
        }
		&__content {
			display: none;
			color: rgb(14, 13, 13);
            background: #52cbf8;
		}
}
.tabs__caption_active {
		background: #52cbf8;
	}
.tabs__content_active {
		display: block;
	}

.slideshow {
    &__container {
        background-color: #222836;
        max-height: 570px;
        position: relative;
        margin: 0 auto;
    }
    &__mySlides {
        display: none;
        text-align: center;
            h1 {
                color: #ffffff;
                padding: 8px 12px;
                position: absolute;
                bottom: 163px;
                width: 100%;
                text-align: center;
                font-size: 40px;
                line-height: 1.2;
                font-weight: 800;
                text-transform: uppercase;
                letter-spacing: 0.025em;
            }
            p {
                color: #ffffff;
                padding: 8px 12px;
                position: absolute;
                bottom: 138px;
                width: 100%;
                text-align: center;
                line-height: 1.2;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: 300;
                letter-spacing: 0.095em;
            }
    }
    &__img {
        max-height: 500px;
        width: 50%;
    }
    &__prev {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }
    &__prev:hover {
        background-color: rgba(0,0,0,0.8);
    }
    &__next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    &__next:hover {
        background-color: rgba(0,0,0,0.8);
    }
    &__dot-container {
        text-align: center;
    }
    &__dot {
        cursor: pointer;
        height: 13px;
        width: 13px;
        margin: 0 1px;
        border-radius: 50%;
        border: 2px solid #ff8261;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
}
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
	}
	@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
	}
	@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
	}
	/* Для маленьких экранов увеличьте размер текста */
	@media only screen and (max-width: 300px) {
	.slideshow__prev, .slideshow__next,.slideshow__text {font-size: 11px}
	}


.active, .slideshow__dot:hover {
	border: 2px solid #5278db;
	}
